* {
  margin: 0;
}

:root {
  --main-color: rgb(32, 129, 226);
}

p {
  margin-bottom: 0px !important;
}

/* -----Nav----- */

.nav {
  height: 80px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 40px 0 40px;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

.nav-left {
  display: flex;
  align-items: center;
}

.nav-left > h3 {
  margin-left: 10px;
  font-size: 22px;
}

.nav-right {
  display: flex;
  
}

.nav-menu {
  display: flex;
}

.nav-right > input {
  
}
.nav-menu {
  display: flex;
  align-items: center;
}

.nav-menu > p{
  margin-left: 40px;
  font-size: 16px;
  color: rgba(4, 1, 29, 0.75);
  font-weight: bolder;
  margin-bottom: 0px !important;
}

.nav-menu-icon {
  margin-left: 40px;
  color: rgba(4, 1, 29, 0.75);
}

.search-box {
  display: flex;
  align-items: center;
  background-color: rgb(255, 255, 255);
  border: 1px solid rgb(229, 232, 235);
  border-radius: 10px;
  padding: 10px;
}

.search-box > input {
  outline: none;
  border: none;
  background: none;
  width: 468px;
  margin-left: 10px;
}

/* ------Home------- */

.home {
  padding-top: 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  
}

.home-banner {
  display: flex;
  width: 80%;
}

.home-banner-left{
  flex: 1;

}

.home-banner-right {
  flex: 1;
}

.home-banner-right-card {
  width: 80%;
}