* {
  margin: 0;
}

:root {
  --main-color: rgb(32, 129, 226);
}

p {
  margin-bottom: 0px !important;
}

/* -----Nav----- */

.nav {
  height: 80px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 40px 0 40px;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

.nav-left {
  display: flex;
  align-items: center;
}

.nav-left > h3 {
  margin-left: 10px;
  font-size: 22px;
}

.nav-right {
  display: flex;
}

.nav-menu {
  display: flex;
}

.nav-right > input {
}
.nav-menu {
  display: flex;
  align-items: center;
}

.nav-menu > p {
  margin-left: 40px;
  font-size: 16px;
  color: rgba(4, 1, 29, 0.75);
  font-weight: bolder;
  margin-bottom: 0px !important;
}

.nav-menu-icon {
  margin-left: 40px;
  color: rgba(4, 1, 29, 0.75);
}

.search-box {
  display: flex;
  align-items: center;
  background-color: rgb(255, 255, 255);
  border: 1px solid rgb(229, 232, 235);
  border-radius: 10px;
  padding: 10px;
}

.search-box > input {
  outline: none;
  border: none;
  background: none;
  width: 468px;
  margin-left: 10px;
}

/* ------Home------- */

.home {
  padding-top: 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 100px;
}

.home-banner {
  display: flex;
  width: 80%;
}

.home-banner-left {
  flex: 1;
  margin-top: 60px;
}

.home-banner-left > h2 {
  font-size: 45px;
  text-align: left;
}

.home-banner-left > p {
  font-size: 24px;
  text-align: left;
  margin-top: 20px;
}

.home-banner-left-learnmore {
  display: flex;
  align-items: center;
  margin-top: 50px;
}

.home-banner-left-learnmore > p {
  margin-left: 10px;
}

.video-icon {
  color: blue;
}

.home-banner-right {
  flex: 1;
  margin-right: 0px;
}

.home-banner-right-card {
  width: 90%;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
  border-radius: 10px;
}

.home-banner-right-bottom {
  display: flex;
  align-items: center;
  padding: 20px;
}

.home-banner-right-bottom-profile {
  margin-left: 10px;
}

.home-banner-profile-name {
  font-weight: bold;
}

.home-banner-profile-desc {
  color: blue;
}

.home-banner-bottons {
  margin-top: 30px;
}

.home-banner-bottons > button {
  padding: 10px 30px 10px 30px;
  border-radius: 5px;
}

.explore-button {
  background-color: blue;
  border: none;
  font-weight: bold;
  color: white;
}

.create-button {
  background: none;
  margin-left: 10px;
  border: 2px solid blue;
  color: blue;
  font-weight: bold;
}

.notable-drop {
  margin-top: 100px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
}

.notable-drop > h3 {
  font-size: 24px;
  font-weight: bold;
  color: black;
}

.notable-drop-cards {
  display: flex;
  margin-top: 50px;
  width: 100%;
  align-items: center;
  justify-content: center;
}

.notable-drop-card {
  display: flex;
  flex-direction: column;

  height: 600px;
  width: 380px;
  margin: 10px;
  /* background-color: red; */
  text-align: center;
  border-radius: 10px;
}

.notable-drop-card > img {
  height: 420px;
  width: 380px;
  object-fit: cover;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.notable-drop-card-bottom {
  margin-top: 20px;
}

.notable-drop-card-bottom > h3 {
  font-size: 20px;
}

.notable-drop-card-bottom > p {
  font-size: 14px;
  margin-top: 20px;
}

.notable-drop-card-bottom > button {
  margin-top: 30px;
  background: none;
  padding: 5px 10px 5px 10px;
  border-radius: 10px;
  color: white;
  border-color: white;
}

.collections {
  margin-top: 50px;
  text-align: center;
}

.collections > h3 {
  font-size: 24px;
}

.collection-container {
  margin-top: 50px;
  display: grid;
  grid-template-columns: auto auto auto;
}

.collection {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 15px;
  /* background-color: gray; */
  border-bottom: 1px solid rgb(229, 232, 235);
  margin: 0px 20px 0px 20px;
}

.collection > p {
  font-weight: bold;
}

.collection:hover {
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  border: none;
  border-radius: 10px;
}

.collection-middle {
  display: flex;
  align-items: center;
  padding-left: 20px;
  padding-right: 70px;
}

.collection-middle > img {
  height: 50px;
  width: 50px;
  object-fit: cover;
  border-radius: 50px;
}

.collection-middle-text {
  margin-left: 10px;
}

.collection-middle-text > p {
  font-weight: bold;
}

.collection-middle-balance {
  display: flex;
  align-items: center;
}

.collection-middle-balance > img {
  height: 15px;
  width: auto;
  margin-right: 10px;
}

.collection-middle-balance > p {
  color: #a4b0be;
  font-weight: bold;
}

.collection-right {
  color: red;
}

.collections > button {
  margin-top: 50px;
  font-size: 16px;

  padding: 15px;
  background-color: blue;
  border: none;
  color: white;
  border-radius: 5px;
}

/* --------Categorry-------- */

.category {
  margin-top: 100px;
}

.categories {
  margin-top: 50px;
}

.category-card {
  height: 200px;
  width: 100%;
  background-color: red;
}

/* -------NFTs-------- */

.nfts {
  margin-top: 100px;
  color: black;
  text-align: center;
}

.nfts-bottoms {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-left: 100px;
  padding-right: 100px;
  width: 80%;
}
.nfts-bottom {
  width: 20%;
  text-align: center;
  margin-top: 50px;
  margin-left: 20px;
  margin-right: 20px;
  padding: 10px;
}

.nfts-bottom > h4 {
  margin-top: 20px;
}
.nfts-bottom > p {
  margin-top: 10px;
}

.nfts-icon {
  font-size: 54px;
}
